<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>mall</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
</head>
<body class="page-dashboard">
<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
    <a href="#" class="navbar-brand col-sm-3 col-md-2 mr-0">商城</a>
    <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap">
            <a href="{:url('/admin/user/logout')}" class="nav-link">退出登录</a>
        </li>
    </ul>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-md-block bg-light sidebar">
            <div class=".sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a href="#" class="nav-link">数据概况</a>
                    </li>
                    <li class="nav-item">
                        <a href="{:url('/admin/goods')}" class="nav-link">商品管理</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">订单管理</a>
                    </li>
                    <li class="nav-item">
                        <a href="#" class="nav-link">用户管理</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        {__CONTENT__}
    </main>
</div>
</body>
</html>